<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <!-- Displays the JSON for the Charizard base set card.-->
    <!-- <div class="centerContainer">
        <button id="pokeBtn" (click)="logMessage()">Click This</button>
        <div *ngIf="cardInfo">
          <h2>Card Information</h2>
          <pre>{{ cardInfo | json }}</pre>
        </div>
    </div> -->
    
    <!-- Displays the image of the base set Charizard card. -->
    <div class="centerContainer">
      <div class="row">
        <div class="left-div">
          <h1 id="Cards-Header">
            Cards
          </h1>
          <button id="pokeBtn" (click)="logMessage()">Click This</button>
        </div>
        <div class="column">
          <div *ngIf="cardInfo">
            <h2>Card Information</h2>
            <img src="{{ cardInfo.data.images.small }}" alt="Card Image">
          </div>
        </div>
        <div class="column">
          <div *ngIf="cardInfo">
            <h2>Card Information</h2>
            <img src="{{ cardInfo.data.images.small }}" alt="Card Image">
          </div>
        </div>
        <div class="column">
          <div *ngIf="cardInfo">
            <h2>Card Information</h2>
            <img src="{{ cardInfo.data.images.small }}" alt="Card Image">
          </div>
        </div>
        <div class="column">
          <div *ngIf="cardInfo">
            <h2>Card Information</h2>
            <img src="{{ cardInfo.data.images.small }}" alt="Card Image">
          </div>
        </div>
      </div>
      

      <!-- <div *ngIf="cardInfo">
        <h2>Card Information</h2>
        <img src="{{ cardInfo.data.images.large }}" alt="Card Image">
      </div> -->
    </div>
</html>




