@font-face {
    font-family: 'Kanit-ExtraLight';
    src: url("src/assets/Fonts/Kanit/Kanit-ExtraLight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kanit-Light';
    src: url("src/assets/Fonts/Kanit/Kanit-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kanit-Regular';
    src: url("src/assets/Fonts/Kanit/Kanit-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


.grid-cont {
    margin-top: 130px;
}
.card-name {
    /* Ensure the text does not overflow */
    font-family: "Kanit-Light", serif;
    overflow: hidden;
    white-space: nowrap;
}
.card-grid {
    /* margin-top: 120px; */
    margin-left: 320px;
}
.card-slots {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    /* margin-top: 120px; */
}

.card {
    width: 20%;
    box-sizing: border-box;
    padding: 10px; /* Add padding or margin to create space between images */
}

#Filters-Header {
    font-size: 30px;
    font-family: "Kanit-Light", serif;
    margin-bottom: 0px;
    margin-top: 14px;
    margin-left: 20px;
    padding-right: 167px;
    margin-right: 0;
    border-bottom-style: solid;
    border-color: #a5a5a5;
    border-width: 2px;
    line-height: 40px;
}
#filters-logo {
    height: 22px;
    width: 22px;
    margin-left: 20px;
    margin-top: 6px;
}
.image-container {
    position: relative;
    display: inline-flex;
}

.transparent-box {
    position: absolute;
    top: 0;
    height: 26px;
    width: 25px;
    margin-left: 18px;
    margin-top: 4px;
    background-color: rgba(128, 128, 128, 0.5); /* Adjust the last value (0.5) for the transparency */
    display: none;
}

.image-container:hover .transparent-box {
    display: block;
}

#hide-filters-button {
    font-family: "Kanit-Light", serif;
    margin-top: 0px;
    margin-left: 10px;
    font-size: 20px;
    background-color: #ffffff;
    border: #ffffff;
    text-decoration: underline; /* Adding an underline to the text */
}
#hide-filters-button:hover {
    background-color: rgba(128, 128, 128, 0.5);
}
#Cards-Header {
    font-size: 35px;
    font-family: "Kanit-Light", serif;
    margin-left: 20px;
    font-weight: 900;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
} 

#pokeBtn {
    width: 120px;
    height: 30px;
    font-size: 16px;
    background-color: rgb(4, 252, 0); /* Button background color */
    color: #000000; /* Text color */
    border-radius: 10px; /* Rounded corners */
    cursor: pointer; /* Add cursor pointer on hover */
    margin-left: 40px;
    margin-top: 10px;
}

#form { /* Search Bar */
    margin-left: 17px; /* How far to the right the search bar is all together. */
    margin-top: 20px;
    border: 3px solid #000000; /* Border color of the search bar. */
    background-color: #ffffff;
    width: 275px;
    height: 36px; /* How tall the search bar is along with the line height. */
    border-radius: 18px; /* How round the search bar is. */
    display: flex;
    flex-direction: row;
    align-items: center;
}
input { /* Input text of the search bar. */
    all: unset;
    font: 20px system-ui;
    color: #000000;
    height: 100%;
    width: 250px;
    padding-left: 12px;
}
#searchButton { /* Actual button NOT magnifying glass.  */
    all: unset;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
svg { /* Magnifying glass. */
    color: #000000;
    fill: currentColor;
    width: 25px;
    height: 25px;
    padding: 8px;
}


.filter-labels, .switch {
    display: inline-block;
    vertical-align: top; /* Aligns them vertically */
}

.filter-labels {
    /* margin-top: 20px; */
    margin-left: 20px;
    font-size: 20px;
    font-family: "Kanit-Regular", serif;
    margin-top: 30px;

    /* border: 2px solid #333;
    outline: 2px solid blue;
    outline-offset: 15px; This sets the space between the outline and the border edge */

}

/* The switch - the box around the slider */
.switch {
    position: relative;
    float: right;
    margin-right: 2px;
    width: 60px;
    height: 24px;
    margin-left: 40px;
    margin-top: 33px;
}


/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #878787; */
    background-color: #ffffff;
    outline: 2px solid rgb(121 , 121, 121); /* Change 'blue' to your desired outline color */

    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: rgb(121, 121, 121);
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: #00c241;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ffffff;
}

input:checked + .slider:before {
    -webkit-transform: translateX(34px);
    -ms-transform: translateX(34px);
    transform: translateX(34px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.sidenav {
    height: 100%;
    width: 320px;
    position: fixed;
    z-index: 0;
    top: 1;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    /* padding-top: 10px; */
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
}

.sidenav a:hover {
    /* color: #616161; */
    background-color: #5b5b5b;
}
