@font-face {
    font-family: 'Kanit-ExtraLight';
    src: url("src/assets/Fonts/Kanit/Kanit-ExtraLight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kanit-Light';
    src: url("src/assets/Fonts/Kanit/Kanit-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kanit-Regular';
    src: url("src/assets/Fonts/Kanit/Kanit-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.grid-container {
    display: grid;
    /* grid-template-columns: auto auto auto auto auto; */
    margin-top: 0px;
    justify-content: center;

    grid-template-columns: repeat(5, 16%);
    gap: 10px;
}

.grid-left-side {
    position: absolute; /* Position the div absolutely */
    left: 0;            /* Align it to the left edge of the viewport */
    top: 0;             /* Align it to the top edge of the viewport (optional) */
    width: 200px;       /* Set a specific width if needed */
    height: 100%;       /* Set a specific height or use 100% for full height */
    margin-top: 100px;
    margin-right: 300px;
}

.card-slots {
    margin-left: 280px; /* How far to the lef the cards start */
    flex: 33.33%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-name {
    /* Ensure the text does not overflow */
    font-family: "Kanit-Light", serif;
    overflow: hidden;
    white-space: nowrap;
}

#pokeBtn {
    width: 90px;
    height: 40px;
    font-size: 15px;
    background-color: #007d68; /* Button background color */
    color: #fff; /* Text color */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add cursor pointer on hover */
    margin-left: 60px;
}
#Cards-Header {
    font-size: 35px;
    font-family: "Kanit-Light", serif;
    padding-left: 60px;
    margin-top: 0px;
    font-weight: 900;
}





.checkboxes-labels{
    white-space: nowrap; /* Prevents wrapping */
}

.filter-labels, .switch {
    display: inline-block;
    vertical-align: top; /* Aligns them vertically */
}

.filter-labels {
    margin-top: 30px;
    margin-left: 20px;
    padding-right: 0px;
    font-size: 25px;
    font-family: "Kanit-Regular", serif;


    /* border: 2px solid #333;
    outline: 2px solid blue;
    outline-offset: 15px; This sets the space between the outline and the border edge */

}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 40px;
    margin-top: 33px;
}


/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #878787; */
    background-color: #ffffff;
    outline: 2px solid rgb(121 , 121, 121); /* Change 'blue' to your desired outline color */

    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(121, 121, 121);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #00c241;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ffffff;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
