<!DOCTYPE html>
<html>
  <div class="centerContainer">
    <div class="row">
      <div class="left-div">
        <h1 id="Cards-Header">Cards</h1>
        <button id="pokeBtn" (click)="logMessage()">Click This</button>
      </div>
  
      <div class="column" *ngFor="let cardInfo of cardInfos">
        <div *ngIf="cardInfo">
          <h2>Card Information</h2>
          <img *ngIf="cardInfo.data && cardInfo.data.images && cardInfo.data.images.small" 
               [src]="cardInfo.data.images.small" 
               alt="Card Image">
        </div>
      </div>
    </div>
  </div>
</html>