<!DOCTYPE html>
<html>
  <div class="grid-cont">
    <div class="sidenav">

      <!-- Cards Header -->
      <div>
        <h1 id="Cards-Header">Cards</h1>
      </div>

      <!-- Hide Filters -->
      <div style="display: inline-flex;">
        <div class="image-container" (click)="hideFilterInfo()" (mouseenter)="showTransparentBox()" (mouseleave)="hideTransparentBox()">
          <img id="filters-logo" src="assets/BulletPoint.png" alt="filters">
          <div class="transparent-box" id="transparentBox"></div>
        </div>
        <button id="hide-filters-button" (click)="hideFilterInfo()">Hide Filters</button>
      </div>

      <!-- Search Bar -->
      <div id="form" role="search">
        <input type="search" id="searchBox" #searchInput name="q" placeholder="Charizard..." aria-label="Search through site content">
        <button type="button" id="searchButton" (click)="showSearchResults(searchInput.value)">
          <img style="padding-top: 3px; padding-left: 4px;" width="24px" height="24px" src="assets/UI-elements/search-icon1.png" alt="search">
        </button>
      </div>

      <!-- Filters Header -->
      <div>
        <h1 id="Filters-Header">Filters</h1>
      </div>

      <!-- Rounded switches -->
      <div id="sets">
        <div>
          <label class="filter-labels">Paldean Fates</label>
          <label class="switch">
            <input type="checkbox" (change)="applyHit($event, 'paldeanFates')">
            <span class="slider round"></span>
          </label>
        </div>
        <div>
          <label class="filter-labels">Sword and Shield</label>
          <label class="switch">
            <input type="checkbox" (change)="applyHit($event, 'swordShield')">
            <span class="slider round"></span>
          </label>
        </div>
        <div>
          <label class="filter-labels">Rebel Clash</label>
          <label class="switch">
            <input type="checkbox" (change)="applyHit($event, 'rebelClash')">
            <span class="slider round"></span>
          </label>
        </div>
        <div>
          <label class="filter-labels">Darkness Ablaze</label>
          <label class="switch">
            <input type="checkbox" (change)="applyHit($event, 'darknessAblaze')">
            <span class="slider round"></span>
          </label>
        </div>
        <div>
          <label class="filter-labels">Champions Path</label>
          <label class="switch">
            <input type="checkbox" (change)="applyHit($event, 'championsPath')">
            <span class="slider round"></span>
          </label>
        </div>
        <div>
          <label class="filter-labels">Obsidian Flames</label>
          <label class="switch">
            <input type="checkbox" (change)="applyHit($event, 'obsidianFlames')">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
    <!-- Image Grid -->
    <div style="margin-left: 320px;">
      <div class="card-slots">
        <div *ngFor="let cardInfo of cardInfos" class="card">
          <div *ngIf="cardInfo || cardInfo.data">
            <h2 class="card-name" *ngIf="cardInfo?.name || cardInfo?.data?.name">
              {{ cardInfo?.name || cardInfo?.data?.name }}
            </h2>
            <img *ngIf="(cardInfo?.images || cardInfo?.data?.images) && 
                        (cardInfo?.images?.small || cardInfo?.data?.images?.small)" 
                [src]="cardInfo?.images?.small || cardInfo?.data?.images?.small" 
                alt="Card Image">
          </div>
        </div>
      </div>
    </div>
  </div>
</html>