<!DOCTYPE html>
<html>
    <body>
        <h2 id="aboutHeader">
            About
        </h2>
        <div>
            <p id="paragraph">
                This website is a personal project of mine that I have been wanting to
                complete for a very long time. It showcases all the Pokémon cards released
                from Base Set all the way up to the  Sword and Shield era sets. I have 
                utilized the "POKÉMON TCG API" which displays pictures, stats, and various 
                other information from the Pokémon cards released. It is still a work in 
                progress, but hopefully I can at least get one of the sets and most of the 
                pages displayed with the correct information for me and others to view!
            </p>
        </div>
        <div>
            <p id="signiture">
                Thanks,<br /><br />
                Scuba_Steve.<br /><br />
                Sources:<br />
                <a href="https://pokemontcg.io/" target="_blank">https://pokemontcg.io/</a> <br />
                Other Sources on GitHub: 
                <a href="https://github.com/villarst/TradingCardWebsite" target="_blank">https://github.com/villarst/TradingCardWebsite</a>
            </p>
        </div>
    </body>
</html>