<!DOCTYPE html>
<html>
  <body>
    <div id="header-bar">
      <div id="blackBarTop"></div>
      <div id="whiteBarTop">
        <!-- Possibly make this a NavBar in the future.-->
        <ul>
          <li><img id="pokemonLogo" src="assets/Pokemon-Logo1.png" alt="Pokemon-Logo"></li>
          <li><a class="firstThreeHeaders" href="/cards">Cards </a></li>
          <li><a class="firstThreeHeaders" routerLink="/energies">Energies</a></li>
          <li><a class="firstThreeHeaders" routerLink="/about">About</a></li>
          <li id="searchHeader">
          </li>
        </ul>
      </div>
    </div>

    <body>
      <router-outlet></router-outlet>
    </body>
      
  </body>
</html>


<!-- <!DOCTYPE html>
<html>
<body>
    <div id="blackBarTop"></div>
    <div id="whiteBarTop">
      Possibly make this a NavBar in the future.
      <ul>
        <li><img id="pokemonLogo" src="assets/Pokemon-Logo1.png" alt="Pokemon-Logo"></li>
        <li><a class="firstThreeHeaders" href="/cards">Cards </a></li>
        <li><a class="firstThreeHeaders" routerLink="/energies">Energies</a></li>
        <li><a class="firstThreeHeaders" routerLink="/about">About</a></li>
        <li id="searchHeader">
        </li>
      </ul>
      <body>
        <router-outlet></router-outlet>
      </body>
    </div>
</body>
<head>
</head>
</html> -->