<!DOCTYPE html>
<html>
<body>
    <div id="blackBarTop"></div>
    <div id="whiteBarTop">
      <!-- Possibly make this a NavBar in the future.-->
      <ul>
        <li><img id="pokemonLogo" src="assets/Pokemon-Logo1.png" alt="Pokemon-Logo"></li>
        <li><a class="firstThreeHeaders" href="/cards">Cards </a></li>
        <li><a class="firstThreeHeaders" routerLink="/energies">Energies</a></li>
        <li><a class="firstThreeHeaders" routerLink="/about">About</a></li>
        <li id="searchHeader"><form id="form" role="search">
          <input type="search" id="searchBox" #searchInput name="q" placeholder="Charizard..."
              aria-label="Search through site content">
            <button id="searchButton" (click)="searchClicked(searchInput.value)">
              <img style="padding-top: 3px; padding-left: 4px;" width="24px" height="24px" src="assets/UI-elements/search-icon1.png" alt="search">
              <!-- <svg viewBox="0 0 1024 1024">
                <path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 218.455 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-218.455-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path>
              </svg> -->
            </button>
          </form>
        </li>
      </ul>
      <body>
        <router-outlet></router-outlet>
      </body>
    </div>
</body>
<head>
</head>
</html>

<!-- <li id="searchHeader"><form id="form" role="search">
  <input type="search" id="searchBox" name="q"
  placeholder="Charizard..."
  aria-label="Search through site content">
  <button id="searchButton">
    <img style="padding-top: 3px; padding-left: 4px;" width="24px" height="24px" src="assets/UI-elements/search-icon1.png" alt="search"> -->
    <!-- <svg viewBox="0 0 1024 1024">
      <path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 218.455 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-218.455-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path>
    </svg> -->
  <!-- </button>
</form>
</li> -->