<!DOCTYPE html>
<html>
    <div style="margin-top: 120px;">
        <div>
            <h1 id="title">Energy Types</h1>
        </div>
        <div class="grid-container">
            <div class="grid-item">
                <img src="assets/EnergyTypes/Grass2020.jpeg" alt="GrassType" width="180" height="250"/>
                <p class="energy-headers"> Grass </p>
            </div>
            <div class="grid-item">
                <img src="assets/EnergyTypes/Fire2020.jpeg" alt="FireType" width="180" height="250"/>
                <p class="energy-headers"> Fire </p>
            </div>
            <div class="grid-item">
                <img src="assets/EnergyTypes/Water2020.jpeg" alt="WaterType" width="180" height="250"/>
                <p class="energy-headers"> Water </p>
            </div>
            <div class="grid-item">
                <img src="assets/EnergyTypes/Lightning2020.jpg" alt="LightningType" width="180" height="250"/>
                <p class="energy-headers"> Lightning </p>
            </div>
            <div class="grid-item">
                <img src="assets/EnergyTypes/Fighting2020.jpeg" alt="FightingType" width="180" height="250"/>
                <p class="energy-headers"> Fighting </p>
            </div>
            <div class="grid-item">
                <img src="assets/EnergyTypes/Metal2020.jpeg" alt="MetalType" width="180" height="250"/>
                <p class="energy-headers"> Metal/Steel </p>
            </div>
            <div class="grid-item">
                <img src="assets/EnergyTypes/Psychic2020.jpeg" alt="PsychicType" width="180" height="250"/>
                <p class="energy-headers"> Psychic </p>
            </div>
            <div class="grid-item">
                <img src="assets/EnergyTypes/Darkness2020.jpeg" alt="DarkType" width="180" height="250"/>
                <p class="energy-headers"> Dark </p>
            </div>
            <div class="grid-item">
                <img src="assets/EnergyTypes/Fairy2020.jpeg" alt="FairyType" width="180" height="250"/>
                <p class="energy-headers"> Fairy </p>
            </div>
            <div class="grid-item">
                <img src="assets/EnergyTypes/Dragon2020.jpeg" alt="DragonType" width="180" height="190"/>
                <p class="energy-headers"> Dragon </p>
            </div>
            <div class="grid-item">
                <img src="assets/EnergyTypes/Normal2020.jpeg" alt="NormalType" width="170" height="170"/>
                <p class="energy-headers"> Normal </p>
            </div>
        </div>
    </div>
</html>
